<div>

    {{#each beers}}
    <h3>{{this.name}}</h3>
    <img src="{{this.image_url}}" alt="">
    <p>Description = "{{this.description}}"</p>
    <p>tagline = "{{this.tagline}}</p>

    {{/each}}
</div>