<div class="container">
    <img class="beer_img" src="images/beer.png">
</div class="buttons">
<button type="button" class="btn btn-primary">
    <a href="/beers">Check the beers!</a>
</button>
<button type="button" class="btn btn-ptimary">
    <a href="/random-beers">Check a random beer!</a>
</button>
</div>



